**/__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg


venv_ml/
.venv_ml/
env/


.ipynb_checkpoints/


data/creditcard.csv


models/*.keras
models/*.h5
models/*.pkl
!models/.gitkeep


features/*.npy
features/*.csv
!features/.gitkeep


temp.txt


.vscode/
.idea/
*.DS_Store
Thumbs.db
